<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key><string>ch.exoma.stepv.preview</string>
	<key>CFBundleName</key><string>StepvPreview</string>
	<key>CFBundleDisplayName</key><string>stepv</string>
	<key>CFBundleExecutable</key><string>StepvPreview</string>
	<key>CFBundlePackageType</key><string>XPC!</string>
	<key>CFBundleShortVersionString</key><string>@VERSION@</string>
	<key>CFBundleVersion</key><string>@VERSION@</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key><string>StepvPreview.PreviewViewController</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
		<string>ch.exoma.stepv.step</string>
		<string>ch.exoma.stepv.iges</string>
		<string>ch.exoma.stepv.occt-brep</string>
			</array>
			<key>QLSupportsSearchableItems</key><false/>
		</dict>
	</dict>
</dict>
</plist>
